<ion-header>
  <ion-toolbar class="toolbar">
    <ion-icon class="back" name="chevron-back-outline" (click)="backPage()" ></ion-icon>
    <ion-title class="title">{{selectedFormation.name}} Formation : </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  *ngIf="selectedFormation" class="informations">
    <ion-col>
      <ion-row>
        <img [src]="selectedFormation.image" style="padding: 20px 0;">
      </ion-row>
      <ion-row>
        <h1 style="width: 100%;
        text-align: center;
        font-weight: 700;
        color: var(--p-color);
        padding: 10px;">{{selectedFormation.name}}</h1>
      </ion-row> 
      <ion-row>
        <ion-button style="width: 100%;
        text-align: center; margin: 10px 0;" type="submit" (click)="authenticationPage()">purchase</ion-button>
      </ion-row>
      <ion-row>
        <div class="flexdiv" style="padding: 10px;"><h1>{{selectedFormation.price}} $</h1>
        <h1>{{selectedFormation.duration}} </h1></div>
      </ion-row>
     <ion-row>
        <span  style="padding: 20px 0;">{{selectedFormation.description}}</span>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
