.title{
 color: var(--ion-color-primary-shade);
 font-family: 'Cinzel';
 width: 85%;
 float: right;
}
.back{
    
width: 10%;
float: left;
}
.informations{
    background-color:var(--border-color);
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px var(--shadow-color);
    text-align: center;
}
.flexdiv{
    display: flex;
    flex-direction: row;
    color: var(--ion-color-primary-shade);
    width: 100%;
}
.flexdiv h1{
    width: 50%;
}