.title{
    color: var(--ion-color-primary-shade);
    font-family: 'Cinzel';
}
.SignUp{
    margin: 30px;
    margin-top: 40%;
    text-align: center;
}

.Input{
    text-align: start;
    margin: 10px 0;
  }
  .Label{
  color: var(--p-color);
  width: 40%;
  margin: 10px 0;
  text-align: end;
  margin-right:15px ;
  }
  .field{
    display: flex;
    flex-direction: row;
    margin: 20px;
    }

    .toolbar{
        display: flex;
        flex-direction: row;
    }